transformers
datasets
pandas
numpy
scikit-learn
torch
pyyaml
torch
fairscale
fire
tiktoken==0.4.0
blobfile
accelerate
diffusers>=0.11.0
scipy
ftfy
fire
wandb
safetensors
opencv-python
torchvision
mediapipe